body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: Arial, sans-serif;
  /* box-shadow: 0 2px 1px rgba(0, 0, 0, 0.5); */
}

.app {
  width: 100%;
  height: 100%;
}

.content {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.header {
  width: 100%;
  height: 25%;
  app-region: drag;
  background: linear-gradient(to top, #000000, #1a1a1a);
}

.add {
  height: 100%;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter {
  font-size: 3rem;
  margin-bottom: 8%;
  user-select: none;
}

.buttons {
  position: absolute;
  right: 0;
  bottom: 0;
  /* background-color: aqua; */
  width: auto;
  height: 15%;
  margin-right: 3px;
  display: flex;
  justify-content: end;
}

.button {
  opacity: 20%;
  padding-right: 0px;
  height: 13px;
  width: 13px;
  margin-right: 2px;
  margin-left: 2px;
  cursor: pointer;
  user-select: none;
}

.button:hover {
  opacity: 100%;
}

.exit {
  height: 11%;
  width: 18%;
  position: absolute;
  right: 5%;
  top: 22%;
  opacity: 20%;
  /* height: 100%; */
  /* width: 100%; */
  cursor: pointer;
}

.exit:hover {
  opacity: 100%;
}

img {
  height: 100%;
  width: 100%;
}
